
/* font-family: 'Courgette', cursive;
font-family: 'Inconsolata', monospace; */


* {
    background-color: black;
    overflow: auto;
    margin: 510 px;
    padding: 10px;
}

body {
    background-color: black;
    margin: 0;
    margin: 10px;
    padding: 15px;    
    border: 3px dashed aqua;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Courgette', cursive;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color:black;
    color: rgb(245, 191, 224);
    border-radius: 6px;
    box-shadow: 0px 7px 11px rgb(5, 158, 179);
}

#main-container {
    border: 2.5px solid aqua;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color:black;
    color: rgb(245, 191, 224);
    text-align: center;
    border-radius: 6px;
    box-shadow: 0px 9px 18px rgb(46, 45, 45);
   
 
}

label {
    font-size: 28px;
    background-color:black;
    text-shadow: 7px 7px 8px rgb(46, 45, 45);

}
legend {
    font-size: 24px;
    background-color:black; 
}

#name {
    width: 54%;
    font-size: 18px;
    margin-top: 6px; 
    background-color:white;  
    border: 1.75px solid aqua;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-bottom: 15px;
    padding-left: 5px;
    padding-top: 2px;
}
::placeholder {
    color: rgba(80, 80, 80, 0.815);
    text-align: justify;
    font-style: italic;
    text-shadow: 5px 5px 12px rgba(0,0,0,0.5);
   
}


#name:focus {
    width: 90%;
    border: 1.75px solid aqua;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

#url {
    width: 54%;
    font-size: 20px;
    margin-top: 6px; 
    background-color:white; 
    border: 1.75px solid aqua;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
    border-radius: 4px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding-left: 5px;
    padding-top: 2px;
}
#url:focus {
    width: 90%;
    border: 1.75px solid aqua;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.select-items {
    background-color: rgb(0, 71, 50);
}
.select-form {
    display: inline;
    color: black;
}
.ratings {
    color: white;    
    background-color: black; 
    font-size: 2px;
    
}

.display-rating-collapsed {
    font-size: 28px;
    background-color: black;
    text-align: center;
    display: inline;
    padding: 4px;
    font-weight: bolder;
    border: 2.5px solid aqua;
    border-radius: 100%;
    color: rgb(245, 191, 224);
}
.rating-form {
    font-size: 30px;
    margin-top: 10px;
    text-shadow: 7px 7px 8px rgba(0,0,0,1);
    text-align: center;    

}


#description {
    font-size: 20px;
    margin-top: 5px;
    font-family: Helvetica Neue;
    background-color: white; 
    border-radius: 10px; 
    padding: 5px;
    margin-bottom: 14px;
}

.add-button, .cancel-button {
    font-size: 26px;
    cursor: pointer;
    background-color:black;
    color:rgb(245, 191, 224);
    border-radius: 6px;
    border: 1.5px solid aqua;
    box-shadow: 0px 7px 11px rgb(4, 96, 133);
    margin-bottom: 10px;
}

.add-new, .filter{
    font-size: 26px;
    cursor: pointer;
    background-color:black;
    color: rgb(245, 191, 224);
    border-radius: 6px;
    border: 1.5px solid aqua;
    box-shadow: 0px 7px 11px rgb(4, 96, 133);
}

.new-filter-buttons {
    text-align: center;
    padding-bottom: 20px;
}

.create-cancel-buttons {
    text-align: center;
    background-color: black;
}



.collapsed-bookmarks {
    height: 50px;
    padding: 25px;
}
.expanded-bookmarks {
    height: 220px;
    padding: 25px;
    background-color: #DDE2E3;
    border-radius: 15px;
}

.saved-title {
    background-color: black;
    color: rgb(245, 191, 224);
    padding: 5px;
    font-size: 30px;
}

.title-bar {
    background-color: black;
    border: 1.25px solid aqua;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
}
.remove {
    margin-top: 8px;
    font-weight: bolder;
    float: right;
    font-size: 20px; 
    background: none;
    border-radius: 100%;
    margin-right: 5px;
    color: white;
    border-color: white;
}
.link-btn, a {
    font-size: 20px;
    background-color: #DDE2E3;
}

.url-link {
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    background-color:black;
    color: rgb(245, 191, 224);
    border-radius: 6px;
    border: 1px solid aqua;
}

.display-rating {
    font-size: 50px;
    float: right;
    margin-right: 10%;
    padding: 3px;
    margin-top: -45px;
    color: rgb(245, 191, 224);
    background-color: black;
    border: 2.5px solid aqua;
    border-radius: 100%;
}

p {
    background-color: black;
    border: 1.25px solid aqua;
    width: 100%;
    padding: 5px;
    border-radius: 6px;
}

.expand {
    font-size: 20px;
    cursor: pointer;
    background-color:black;
    color: rgb(245, 191, 224);
    border-radius: 6px;
    border: 1.5px solid aqua;
    box-shadow: 0px 7px 11px rgb(8, 121, 150);
}

.description-text {
    background-color: black;
    border-radius: 6px;
    color: #fff;
    font-size: 25px;
}

.expand-button {
    background: none;
}
